tr {
    width: 75%;   
}

.success {
    background-color: #009933;
    color: white;
}

.red {
    background-color: #990000;
    color: white;
}

.alert {
    color: red;
}

h2 {
    color:darkcyan;
    text-align: left;
}

p {
    /*display: inline-block;*/
    width: 100%;
}
